<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/head'); %>
 <title>read</title>
</head>
<body>
  <%- include('partials/header'); %>

  <% if (creates.length > 0) { %>
    <% creates.forEach(create => { %>

  <div class="form-data-container" id="form_data_container">
    <a href="/dashboard/read/<%= create._id %> "><div class="image-container" id="displayed_image"><%= create.image %> </div></a>
    <div class="displayed-description" id="displayed_description"><%= create.description %></div>
    <div class="displayed-likes" id="displayed_likes"><%= create.likes %></div>
    <div class="displayed-tags" id="displayed_tags"><%= create.tags %></div>
    <div class="displayed-id" id="displayed_id"><%= create.username %></div>
  </div>
<% }) %> 
<% } else { %>
   <h1> fucking hell </h1>} 
   <% } %> 

  <%- include('partials/footer'); %>    
</body>
</html> 